.font-dec {
  font-style: normal;
  font-weight: bold;
}

.close-btn {
  background: var(--ion-color-primary);
  height: 45px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 50px;
}

.close-btn p {
  margin: 0px;
  color: white;

  font-style: normal;
  font-weight: bold;
}